*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
  
/* Utility display */
.d_none{
    display: none;
}
.active{
    display: block;
}
  
.d-flex{
    display: flex;
}
.justify_between{
    justify-content: space-between;
}
  
/* position */
.position_rel{
    position: relative;
}
.position_ab{
    position: absolute;
}
  
/* utiliyi style */
.list_style_none{
    list-style: none;
}
  
/* padding */
.p_20{
    padding: 20px;
}
  
/***navbar***/
.navbar a{
    color: #8c8e8f;
    text-decoration: none;
}
.navbar a:hover{
    color: #1b1e21;
    text-decoration: none;
}
.navbar a.active{
    font-weight: 600;
    color: #1b1e21;
}
  
.navbar_left ul li,
.navbar_right > ul > li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
  
/* logo */
.logo{
    width: 40px;
}
/* navbar_left */
.navbar_left a{
    text-transform: uppercase;
}
/* navbar_right */
.navbar_right{
    align-items: center;
}
  
/* dropdown */
.dropdown_menu{
    border-radius: 6px;
    box-shadow: 2px 2px 10px lightgray;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown_menu li{
    padding: 8px 15px;
}
.dropdown_menu a{
    color: #8c8e8f;
}
.dropdown_menu a:hover{
    color: #1b1e21;
    text-decoration: none;
}
  
/* bottons */
a.btn_accedi{
    color: black;
    border: 1px solid #ededed;
    border-radius: 10px;
    background-color: #ededed;
    padding: 13px 20px;
    margin-right: 15px;
    margin-left: 20px;
}
  
.btn_app{
    color: white;
    border: 1px solid #191c1f;
    border-radius: 10px;
    background-color: #191c1f;
    padding: 15px;
}